header {
  height: 400px;
  width: 100%;
  text-align: center;
  background-color: #e851ff;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  
}

@media only screen and (min-width:863px){
  header{
    float:left;
    width: 30%;
    margin-top: 4em;
    margin-left: 2em;
  }
  header div.profile{
    padding-top: 1em;
  }
}



