
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



body {
  
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}


main { 
  padding-left: 2em;
  padding-right: 2em;
  width: 90%;
}

.errormsg {
  border: 2px solid red;
  text-align: center;
}
.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
i:hover {
  opacity: 0.5;
  transition: .3s ease-in-out;
}