
nav {
  height: 120px;
  width: 100vw;
  z-index: 1500;
  color: #ffffff;
  background-color: rgb(0, 102, 255);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

nav span {
  font-family: 'Bungee', cursive;
}
nav p {
  text-align: center;
}
.fa-angle-double-down {
  color: #e851ff;
}

p span {
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}


@media only screen and (max-width:862px){
  nav{
    background-color: #e851ff;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
    }
    nav i.fa-angle-double-down{
      color:  rgb(0, 102, 255);
    }
}